
p {  font-family: Arial; font-size: 12px; margin-left:5px; font-weight: normal;}
p.pictext {font-family: Arial; font-size: 11px; margin-left:0px; color:#76273C; }
p.bottom {font-family: Arial; font-size:9px; margin-left:0px; background: #DDDDDD; color:#76273C; text-align: center;}
p.home {font-family: Arial; font-size:13px; margin-left:0px; color:#002740; }
div.pictext {font-family: Arial; font-size: 11px; margin-left:0px; color:#76273C; text-align: center; }
div.pictext_left {font-family: Arial; font-size: 11px; margin-left:0px; color:#76273C; text-align: left; }
td { font-size:12px; font-family: Arial; margin-left:200px; vertical-align: top; } 
.men1{ background-color:#76273C; font-size:12px; font-family: Arial; margin-left:200px; }
.men2{ background-color:#002740; font-family: Arial; border-color:white; margin-left:200px; }
.m1 { margin-left:5px;  backround-color: #002740; }
.m2 { margin-left:10px; backround-color: #002740; }
.m3 { margin-left:15px; backround-color: #002740; }
.m4 { margin-left:20px; backround-color: #002740; }
li {  font-family: Arial; font-size: 12px; margin-left:5px; font-weight: normal;}

table { font-size:12px; border:white; background-color:white; width:200px; font-family: Arial; margin-left:0px;}
table.topnews { font-size:8px; border:white; background-color:white; width:200px; font-family: Arial; margin-left:0px;}
table.top { background-color: #DDDDDD; width: 800; color: #76273C; font-weight: normal; margin-left: 0px; font-size:10px;}
table.bottom { background-color: #DDDDDD; width: 800; color: #002740; font-weight: normal; font-size: 8px; margin-left: 0; }
table.normal { background-color: white; width: 100%	; color: #002740; font-weight: none; margin-left: 0;}
table.menuadresse { background-color:#76273C; width: 200; color: white; font-weight: none; margin-left: 0; }
table.menu { background-color:#76273C; width: 200; color: #002740; font-weight: none; margin-left: 0; }
table.cv { background-color:white; width: 400; color: #002740; font-weight: none; margin-left: 5; }
table.ref{ font-size:10px; 
           border:white; 
           background-color:white; 
           width:650px; 
           font-family: Arial; 
           margin-left:5px;
           }
table.home { font-size:12px; border:white; background-color:white; width:580px; font-family: Arial; margin-left:0px; vertical-align: top;}
td.orga{ border-top: 1px;
         border-top-style:solid;
         border-top-color: #76273C;
         border-left: 1px;
         border-left-style:solid;
         border-left-color: #76273C;
         border-right: 1px;
         border-right-style:solid;
         border-right-color: #76273C;
         border-bottom: 1px;
         border-bottom-style:solid;
         border-bottom-color: #76273C;
         }
td.cvtitle {font-weight: bold;}
td.menuadresse{ background-color:#76273C; 
                height: 100%; 
                width: 200; 
                color: white; 
                font-weight: none; 
                margin-left: 10; 
                vertical-align: bottom; }
h1 { font-family: Arial;margin-left:0px;}
h2 { font-family: Arial;margin-left:0px; }
h3 { font-family: Arial;margin-left:0px; }
boddy { margin-top: 0px 
        scrollbar-base-color:#76273C;
        scrollbar-face-color:#002740;
        scrollbar-highlight-color:#002740;
        scrollbar-arrow-color:#76273C;
        scrollbar-track-color:#76273C;
}
a:active { background-color: #76273C; 
           font-weight: none; 
           color: white; 
           text-decoration: none; 
           font-style: Arial; 
           font-size:12px; 
           width:100%}
a:hover {  background-color: #76273C; 
           font-weight: normal; 
           list-style-position: outside; 
           font-size:12px; 
           width: 100%; 
           font-weight: bold;}
a:link {  color: white; 
          font-size:12px; 
          text-decoration:none; }
a:visited {  color: white; 
             font-size:12px; 
             text-decoration:none; }
a.main:hover{  ccolor: #76273C;
               background-color: white; 
               font-size:12px; 
               text-decoration:none;
               font-weight: bold;
            }
a.main:link {  color: #76273C;
               background-color: white; 
               font-size:12px; 
               text-decoration:none;
               font-weight: bold;
            }
a.main:active{ color: #76273C;
               background-color: white; 
               font-size:12px; 
               text-decoration:none;
               font-weight: bold;
             }
a.main:visited{ color: #76273C;
               background-color: white; 
               font-size:12px; 
               text-decoration:none;
               font-weight: bold;
			  }  
			  
td.m1 { margin-left:5px;  backgound-color: #FFFFFF;}
td.m2 { margin-left:20px; backgound-color: #FFFFFF; }
td.m3 { margin-left:30px; backround-color: #FFFFFF; }
td.m4 { margin-left:40px; backround-color: #FFFFFF; }			  